body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#d3-fun {
  margin-top: -50px;
  margin-left: -50px;
  margin-right: -50px;
  height: 200px;
  background-color: #ebf7f6;
}

.add-remove-buttons {
  margin-top: 25px;
}

.form-inputs {
  margin-bottom: 10px;
}

.contain {
  border-top: dotted #173e43 4px;
  margin-left: -50px;
  margin-right: -50px;
}

.btn {
  background-color: #3fb0ac !important;
  color: #173e43 !important;
  letter-spacing: 3px !important;
}

.btn:visited, .btn:hover {
  outline: none !important;

}

input[type=text]:focus {
  box-shadow: 0 0 5px #24dbba;
  padding: 3px 0px 3px 3px;
  border: 1px solid black;
}

input[type=number]:focus {
  box-shadow: 0 0 5px #24dbba;
  padding: 3px 0px 3px 3px;
  border: 1px solid black;
}

.colors {
  margin-bottom: 15px;
/*  padding-left:30px;*/
}
.color-option1, .color-option2, .color-option3, .color-option4, .color-option5 {
  height:30px;
  width:30px;
  border-radius:15px;
  margin-top: 5px;
}

.color-option1 {
  background-color: #f8d965;
}

.color-option2 {
  background-color: salmon;
}

.color-option3 {
  background-color: #3fb0ac;
}

.color-option4 {
  background-color: #bbc4ef;
}

.color-option5 {
  background-color: orange;
}

.title {
  font-size: 3em;
  font-family: 'Arvo';
  color: #173e43;
}

.rotate {
  margin-top: 250px;
  display:inline-block;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}